In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.neighbors import *

In [16]:
digit = load_digits()
x = digit.data
y = digit.target

In [17]:
x.shape, y.shape

((1797, 64), (1797,))

# Dataset is spliting into the training and testing sets

In [18]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

# Key Nearest Neighbors

In [19]:
keynn = KNeighborsClassifier(n_neighbors = 2)

In [20]:
keynn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=2, p=2,
           weights='uniform')

In [21]:
pred = keynn.predict(X_test)

In [22]:
pred

array([0, 1, 5, 1, 2, 6, 1, 0, 1, 4, 6, 7, 6, 4, 8, 9, 9, 1, 6, 9, 9, 6,
       7, 0, 2, 1, 0, 6, 7, 6, 4, 8, 1, 7, 7, 3, 3, 7, 3, 5, 1, 1, 6, 3,
       7, 8, 9, 9, 6, 8, 2, 2, 2, 8, 3, 0, 7, 8, 7, 3, 1, 5, 4, 2, 3, 5,
       6, 3, 4, 0, 5, 5, 3, 5, 3, 0, 8, 3, 6, 8, 7, 8, 9, 7, 4, 9, 2, 2,
       5, 1, 8, 2, 7, 5, 1, 6, 1, 4, 3, 8, 1, 3, 0, 4, 8, 9, 6, 7, 7, 0,
       0, 5, 1, 0, 7, 0, 3, 5, 3, 7, 7, 3, 9, 5, 8, 4, 4, 6, 4, 4, 9, 5,
       4, 2, 1, 2, 8, 1, 4, 1, 6, 8, 8, 6, 3, 3, 2, 0, 0, 0, 7, 1, 3, 1,
       1, 3, 7, 4, 3, 5, 9, 8, 5, 5, 1, 2, 7, 2, 2, 7, 7, 5, 9, 7, 4, 3,
       0, 5, 0, 0, 6, 9, 3, 6, 0, 4, 3, 9, 9, 5, 5, 4, 5, 1, 3, 6, 2, 6,
       3, 4, 5, 6, 6, 1, 8, 9, 6, 1, 4, 6, 9, 2, 6, 4, 4, 1, 5, 5, 2, 9,
       5, 4, 3, 0, 1, 1, 1, 3, 2, 9, 3, 1, 5, 8, 2, 7, 0, 9, 3, 1, 1, 3,
       6, 7, 4, 0, 4, 9, 1, 6, 1, 4, 4, 9, 0, 3, 0, 8, 7, 4, 1, 0, 3, 2,
       1, 4, 5, 8, 5, 6, 4, 7, 8, 9, 9, 7, 7, 9, 3, 6, 9, 7, 6, 2, 5, 1,
       7, 1, 1, 2, 8, 3, 6, 0, 7, 9, 0, 7, 0, 6, 6, 0, 7, 9, 5, 0, 0, 4,
       0, 9, 1, 8, 0, 4, 3, 7, 4, 9, 3, 2, 7, 6, 1, 6, 3, 2, 6, 3, 2, 1,
       8, 3, 6, 0, 5, 1, 3, 0, 8, 6, 2, 7, 0, 8, 2, 2, 3, 5, 9, 9, 0, 5,
       8, 3, 1, 2, 4, 9, 9, 8, 7, 6, 3, 1, 6, 5, 6, 8, 7, 4, 2, 4, 6, 1,
       3, 5, 7, 3, 4, 0, 0, 2, 9, 2, 7, 5, 8, 5, 4, 8, 1, 3, 5, 8, 4, 3,
       8, 5, 6, 7, 7, 5, 2, 3, 2, 3, 7, 3, 4, 7, 1, 1, 3, 5, 6, 8, 4, 1,
       2, 9, 1, 3, 4, 4, 2, 4, 8, 8, 9, 9, 1, 8, 2, 1, 7, 9, 0, 9, 2, 4,
       8, 5, 1, 2, 5, 6, 6, 4, 1, 2, 3, 4, 3, 7, 1, 7, 9, 5, 8, 0, 8, 2,
       7, 4, 6, 9, 1, 8, 1, 6, 1, 0, 6, 9, 5, 1, 7, 3, 8, 2, 8, 6, 3, 3,
       7, 1, 1, 6, 3, 0, 7, 7, 3, 9, 8, 0, 0, 4, 3, 4, 8, 2, 9, 1, 3, 7,
       9, 7, 8, 3, 6, 4, 9, 5, 2, 0, 8, 5, 2, 8, 9, 5, 8, 4, 5, 2, 0, 4,
       2, 1, 4, 0, 9, 3, 2, 0, 1, 8, 3, 9])

In [23]:
result = pd.DataFrame({"Predicted":pred,"Actual":y_test})

In [24]:
result.head()

   Predicted  Actual
0          0       0
1          1       1
2          5       5
3          1       1
4          2       2

# Key Nearest Neighbors Score

In [25]:
keynn.score(X_test,y_test)*100

97.5925925925926